.container-footer {
  background-color: rgb(40, 44, 52);
  position: absolute;
  width: 100%;
  ul {
    list-style: none;
    display: flex;
    justify-content: center;
    li {
      font-size: 0.8rem;
      padding: 1rem;
      color: white;
    }
  }
}
@media (max-height: 100%) {
  .container-footer {
    position: absolute;
    width: 100%;
    bottom: 0px;
  }
}
